body {
    padding:0;
    margin:0;
    font-family: "Oswald", "sans-serif";
}    
nav ul {
    list-style: none;
    background-color: #4a4a4f;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}
nav a:hover {
    background-color: #ffffff;
    color: #4a4a4f;
}
div a img {
    display: inline-block;
}
.card {
    float: left;
    width: 20%;
    margin-left: 10%;
    min-width: 150px;
    max-width: 240px;
    position: relative;
    z-index: 2;
}
.card a {
    text-align: center;
}
.card:hover {
    opacity: 0.5;
}
img {
    width: 100%;
    height: 200px;
}
img:hover {
    box-shadow: 2px 2px 2px black;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #afafaf;
}
.bgsquare {
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.O7sj7HX2On3kGGlJWfpETAHaEo&pid=15.1&P=0&w=273&h=171");
    margin-left: 2%;
    margin-top: 30px;
    height: 600px;
    width: 96%;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
}